.content{
    display :flex;
    flex-direction: column;
    gap:3rem;
    align-items:center;
    justify-content : flex-start;
}
.sub-btn{
    background-color:#e9efee;
    color:black;
    border:0;
    height:1.5rem;
    width:5rem; 
    font-size : 1.2rem;  
    margin-top : 25px;
    border-radius : 5px;
}

form  {
    display : flex;
    gap : 1rem;
}